@mixin box-shadow($top,$right,$bottom,$left,$color) {
    -webkit-box-shadow: $top $right $bottom $left $color;
    -moz-box-shadow: $top $right $bottom $left $color;
    box-shadow: $top $right $bottom $left $color;
    
}
@mixin border-radius($top,$right,$bottom,$left){
    -webkit-border-top-left-radius: $top;
    -webkit-border-top-right-radius: $right;
    -webkit-border-bottom-right-radius: $bottom;
    -webkit-border-bottom-left-radius: $left;
    -moz-border-radius-topleft: $top;
    -moz-border-radius-topright: $right;
    -moz-border-radius-bottomright: $bottom;
    -moz-border-radius-bottomleft: $left;
    border-top-left-radius: $top;
    border-top-right-radius: $right;
    border-bottom-right-radius: $bottom;
    border-bottom-left-radius: $left;
}