//background colors
$lite-gray : #f6f6f6;
$bg-color: #fefefe;
$bg-color-blue: linear-gradient(156deg, rgba(62,87,200,1) 0%, rgba(62,87,200,1) 0%, rgba(89,64,200,1) 100%);
$button-red-color: #d55151;
//font colors
$base-font-color: #545454;
$secondry-font-color: #4a4a4a;
$white: #fff;
$primary-font-color: rgb(200,191,231);
$tertiary-font-color: rgb(84,84,84);
$gray-font-color: #9a9a9a;
$light-gray-font: #b3b3b3;
$lite-gray-font-2: #eaeaea;

//border color
$border-color: #d5d5d5;
$secondary-border-color: rgb(116,118,212);
$tertiary-border-color: #cccccc;
//width
$layout-width-1: 44.875rem;

//margin color
$grey-margin :#e3e3e3;
