@import "_variables.scss", "_mixin.scss";
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $border-color;
    padding: 15px 0 30px 0;
    h2 {
      color: $tertiary-font-color;
      font-size: 1.5rem;
    }
    .profile-pic {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pic {
        width: 40px;
        height: 40px;
        @include border-radius(40px, 40px, 40px, 40px);
        background-size: contain;
        margin-right: 15px;
        img {
          @include border-radius(40px, 40px, 40px, 40px);
        }
      }
      .user-name {
        font-size: 1.2rem;
        color: $tertiary-font-color;
        font-weight: 500;
        cursor: pointer;
        position: relative;
      }
    }
  }